$clear-white: #ffffff;

$light-blue: #4a72fb;
$blue: #315efb;
$dark-blue: #053af4;

$light-green: #71d2ac;
$green: #58b993;
$dark-green: #10b574;

$light-red: #ef7474;
$red: #f15d5d;
$dark-red: #ec3f3f;

$light-yellow: #ffae57;
$yellow: #fca240;
$dark-yellow: #ff941f;
